body {
	
	background-image: url("../images/flight img1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:70px;	
	
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	/* White overlay with 50% opacity */
	z-index: -1;
}

.login-container {
	background: rgba(0, 0, 0, 0.7);
	padding: 40px;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	color: white;
	
}

.login-container h2 {
	margin-bottom: 10px;
}

.input-box {
	align-items: center;
	width: 285px;
	padding: 10px;
	margin: 10px 0;
	border: none;
	border-radius: 5px;
}

.login-btn {
	align-items: center;
	background-color: navy;
	color: white;
	border: none;
	padding: 10px;
	width: 40%;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	margin: 10px 0;
}

.login-btn:hover {
	background-color: black;
}

.signup-link {
	align-items: center;
	margin-top: 10px;
	display: block;
	color: white;
}

span a {
	color: lightseagreen;
	text-decoration: none;
}

span a:hover {
	color: red;
}

/*Password Toggle */

 .password-container {
            position: relative;
            width: 100%;
        }
       
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 18px;
            color: gray;
        }
   /*Password Toggle */
     